* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #e9f0ee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

  #login-container {
    padding: 30px;
    width: 450px;
    background-color: #fff;

    #heading > h4 {
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 22px;
      line-height: 1.2;
      font-family: "Montserrat", sans-serif;

      
    
    }
    #heading > h6 {
        font-size: 14px;
        margin-bottom: 25px;
        color: #999;
        font-weight: 600;
        line-height: 1.2;
        font-family: "Montserrat", sans-serif;
      }
  
    
  }
}
